.destaques {
  padding: 100px 0px;
}

.destaques .titulo {
  width: 100%;
  text-align: center;
  font-family: 'votorantim-bold';
  color: #0b47e5;
  font-size: 3rem;
  margin: 30px 0px 80px 0px;
}

@media(max-width:767px) {
  .destaques {
    padding: 50px 0px;
  }
  .destaques .titulo {
    margin: 10px 0px 30px 0px;
  }
}