.caracteristicas {
  padding: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.caracteristicas h2 {
  font-size: 30px;
  color: #b3dd33;
  font-family: 'votorantim-bold';
  margin-bottom: 20px;
}

.caracteristicas .content {
  font-family: 'votorantim-regular';
  color: #000;
  font-size: 16px;
  width: 100%;
}

.caracteristicasImgMissao {
  padding: 0 43px 0 0;
}

.caracteristicasImgMissao .img {
  float: left;
}

.caracteristicas .missao {
  width: 80%;
}

@media(max-width:767px) {
  .caracteristicas {
    padding: 20px;
  }
  .caracteristicas .missao {
    width: 100%;
  }
}