@font-face {
  font-family: 'votorantim-black';
  src: url('./fonts/VotorantimSans-Black.ttf')
}

@font-face {
  font-family: 'votorantim-bold';
  src: url('./fonts/VotorantimSans-Bold.ttf')
}

@font-face {
  font-family: 'votorantim-light';
  src: url('./fonts/VotorantimSans-Light.ttf')
}

@font-face {
  font-family: 'votorantim-medium';
  src: url('./fonts/VotorantimSans-Medium.ttf')
}

@font-face {
  font-family: 'votorantim-regular';
  src: url('./fonts/VotorantimSans-Regular.ttf')
}

@font-face {
  font-family: 'votorantim-thin';
  src: url('./fonts/VotorantimSans-Thin.ttf')
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: 'votorantim-regular';
  font-size: 16px;
  width: 100%;
}